/* CSS */

.first-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.arrow {
  padding-top: 55px;

}

textarea {
  resize: none;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 24px;
  align-content: space-around;
}

.result-container {
  text-align: center;
}

.convert-container {
  width: 500px;
  height: 100px;
}

.buttonSection {
  text-align: center;
}

.button {
  height: 32px;
  border: 0px;
  border-radius: 4px;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.result-container {
  display: flex;
  justify-content: space-around;
}
.subject-info {
  font-size: 24px;
  font-style: italic;
  font-family: math;
}
